h1
{
  color: red;
  text-align:center;
text-decoration: underline;
font-size: 55px;
}
body
{
border: 3px solid red;
  background-image:url("gold image.jpg");
}
a:hover
{
   background-color: yellow;


}
h1:hover
{
  color:black;
}
